* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3d0d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px; /* ทำให้ข้อความอยู่ตรงกลางในแนวตั้ง */
    text-align: center;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    text-decoration: none; /* ลบขีดเส้นใต้ */
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    margin: 0 20px;
    background-color: #e94d58; /* สีพื้นหลัง */
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}

.button:hover {
    background-color: #f06d7d; /* เปลี่ยนสีเมื่อ hover */
}

button:nth-child(2) {
    margin-right: -300px;
    background: white;
    color: #e94d58;
}

